<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Gunther web-store</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type= "text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
    body    { padding-top:50px; }
    h1		{ 
    			text-shadow:3px 2px grey; 
    			font-family:Futura
    		}
    p		{	font-family:Futura }
</style>
